<!doctype html>
<html lang="en">
<head>
	<title>
		Leetcode API
	</title>
</head>
<body>
    <h1>
		<strong>Leetcode API <a href="https://github.com/epicmanmoo/leetcode-api/" target="_blank"> GitHub </a></strong>
    </h1>
	<section id="pageContent">
		<main role="main">
			<article>
				This API retrieves information about a Leetcode problem. Currently, there is one endpoint which you can
				call by typing 'https://leet-api-code.herokuapp.com/api/v1/PROBLEM_NAME'. Simply replace PROBLEM_NAME
				with the SLUG name of the problem. For example, Two Sum problem's slug is two-sum. The easiest way to
				find the slug is to look at the URL and extract the last field. So, to get information about Two Sum,
				you can send a GET request to <a href="https://leet-api-code.herokuapp.com/api/v1/two-sum">
				https://leet-api-code.herokuapp.com/api/v1/two-sum </a>! Problems will be updated every two weeks.
			</article>
		</main>
	</section>

</body>

</html>
